# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django environment and DB
db.sqlite3

# Virtual environment
.venv/
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Excel spreadsheet containing data
HR_Master.xlsm
~*$HR_Master.xlsm
~$HR_Master.xlsm
*.xlsx
*.xlsm
*.xls
